body,
html {
    margin: 0;
    height: 100%;
}

.image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 40vw;
    height: auto;
    object-fit: contain;
}